# Use our custom-configured c++ toolchain.
build:clang_12 --crosstool_top=@llvm_toolchain_12.0.0//:llvm_suite
build:clang_12 --config=clang
build:clang_11 --crosstool_top=@llvm_toolchain_11.1.0//:llvm_suite
build:clang_11 --config=clang
build:clang_10 --crosstool_top=@llvm_toolchain_10.0.1//:llvm_suite
build:clang_10 --config=clang

# Use --cpu as a differentiator.
build:clang --cpu=k8

# Use the default Bazel C++ toolchain to build the tools used during the
# build.
build:clang --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
